body {
	padding-top: 70px;
}

.navbar-default {
	background-image: -o-linear-gradient(bottom, #2071DB 0%, #1D67C8 100%);
	background-image: -moz-linear-gradient(bottom, #2071DB 0%, #1D67C8 100%);
	background-image: -webkit-linear-gradient(bottom, #2071DB 0%, #1D67C8 100%);
	background-image: -ms-linear-gradient(bottom, #2071DB0 0%, #1D67C8 100%);
	background-image: linear-gradient(to bottom, #2071DB 0%, #1D67C8 100%);
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav>.open>a:hover {
	background-color: #fff;
}

.login-menu {
	width: 250px;
	padding: 10px;
}

.dropdown-menu {
	background-color: #fff !important;
}

.dropdown-toggle {
	color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
	{
	color: #fff;
}

.navbar-fixed-top {
	border-bottom: none;
}

#myCarousel {
	margin-top: -20px;
}

/* Panel */
.panel {
	margin-top: 3%;
}

.panel-heading {
	background-color: #2071DA !important;
}

.panel-title {
	color: #fff;
}

.panel-body {
	background-color: #F4F0EA;
}

.alert {
	position: absolute;
	z-index: 999;
	top: 11%;
	left: 20px;
	right: 20px;
}